extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Adeline Ndacyayisenga

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Hi there!
           span.wave 👋 
           p I am Adeline. Thank you for visiting my portifolio. I have always been interested in making an impact and technology has opened my eyes to how much of an impact I can have by building applications to help businesses develop and run efficiently. With a background in Data Analytics, I decided to pursue software engineering, to be part of the team that implements the change, to support many people around the world. I enjoy learning and I am excited for this journey to become a Full Stack Javascript Developer.

      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Data visualization 
          li Data Analysis

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 805-971-9703
          li ndacya.adeline@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/adeline-ndacyayisenga/') LinkedIn
        a.btn-link(href='https://github.com/AdelineNdacyayisenga') GitHub
        a.btn-link(href='https://twitter.com/ANdacyayis54600') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back